[submodule "easy-carousel-frontend"]
	path = easy-carousel-frontend
	url = https://github.com/ShubhamP07/easy-carousel-frontend.git
[submodule "easy-event-backend"]
	path = easy-carousel-backend
	url = https://github.com/ShubhamP07/easy-carousel-backend.git
